src/*.exe
src/archcoin
src/archcoind
src/test_archcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.archcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
archcoin-qt
Archcoin-Qt.app

# Unit-tests
Makefile.test
archcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
